.DS_Store

/omz/.DS_Store

/zsh/.env
/zsh/.zsh_history
/zsh/.DS_Store
.aider*
Brewfile.lock.json
Brewfile.lock.json
zsh/.zshrc.pre-oh-my-zsh
zsh/.zshrc.pre-oh-my-zsh-2024-10-16_19-03-26
zsh/.zshrc.pre-oh-my-zsh-2024-10-16_19-08-47
zsh/.zshrc.pre-oh-my-zsh-2024-10-16_19-06-31
zsh/.zcompdump-Mar’s MacBook Pro-5.9
